@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

$Primary_text: #4a4a4a;
$Secondary_text: #a0b0b9;
$Selected_text: #ffffff;
$Section_color: #ffffff;
$Filter_hover: #f1fcff;
$Filter_default: #9abbce;
$Main_blue: #2196f3;

@mixin base-text {
  font: {
    family: 'Open Sans', sans-serif;
    weight: 600;
    size: 12px;
  }
  line-height: 0.6rem;
  color: $Primary_text;
}

@mixin price-text {
  font: {
    family: 'Open Sans', sans-serif;
    weight: 600;
    size: 2rem;
  }
  line-height: 2rem;
  color: $Main_blue;
}

html,
body {
  margin: 0;
  padding: 0;
  @include base-text;
}

#root {
  display: flex;
  flex-direction: column;
  width: 960px;
  margin: 0 auto;
  background-color: #f3f7fa;
}

.main {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
